{% extends "blog/base.html" %}

{% block title %}Blog{% endblock %}

<!-- start main content -->
{% block blog_content %}
    {% if heading %}<h1>{{ heading }}</h1>{% endif %}

    {% for post in posts.object_list %}
       <div id="story-title-{{ post.id }}" class="story-title">
        <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
        <h3>{{ post.created|date:"F d, Y  P" }}</h3>
       </div>
       <div id="story-body-{{ post.id }}" class="span-18">
         {{ post.body|truncatewords_html:100|safe }}
         <p><a href="{{ post.get_absolute_url }}">Read More</a></p>
          {% if post.photo_set %}
            <!-- The following courtesy of http://slideshow.triptracker.net/ -->
            <script type="text/javascript">
            <!--
              var viewer{{ post.id }} = new PhotoViewer();
              {% for photo in post.photo_set.all|slice:"3" %}
              viewer{{ post.id }}.add('{{ MEDIA_URL }}{{ photo.image }}');
              {% endfor %}
              // -->
            </script>
            {% for photo in post.photo_set.all|slice:"3" %}
                   <a href="{{ MEDIA_URL }}{{ photo.image }}" onclick="return viewer{{ post.id }}.show({{ forloop.counter0 }})"> <img width="100" height="100" src="{{ photo.image.thumb_url }}" alt="" /> </a>
            {% endfor %}
           <p><a href="{{ post.get_absolute_url }}">Click to see the rest of the gallery</a><p>
          {% endif %}
         <p class="small">Updated {{ post.modified|date:"m/d/y @ h:iA T" }} by {{post.owner}}</p>

         <!-- AddThis Button BEGIN -->
         <a class="addthis_button" 
            href="http://addthis.com/bookmark.php?v=250&amp;pub=xa-4ae9c0bc7725eeef" 
            addthis:url="{{ ROOT_URL }}/{{ post.slug }}" 
            addthis:title="{{ post.title }}"
            addthis:description="{{ post.body|striptags|truncatewords:30 }}"><img src="http://s7.addthis.com/static/btn/sm-share-en.gif" width="83" height="16" alt="Bookmark and Share" style="border:0"/></a>
         <!-- AddThis Button END -->

         <p class="story_cat">Categories: 
         {% for x in post.category.all %}<a href="{{ x.get_absolute_url }}">{{ x }}</a> {% endfor %}
         </p>

         <!-- start tags -->
         {% if post.get_tags %}
         <p>Tags: {% for tag in post.get_tags %}
         <a href="{% url "blog-tags" tag %}">{{ tag }}</a>
         {% endfor %}</p>
         {% endif %}
         <!-- end tags -->

         <!-- start comments -->
         {% if post.enable_comments %}
         {% load get_setting %}
         {% get_setting "DJANGO_COMMENTS" "django_comments" %}
         {% if django_comments %}
           {% load comments %}
           {% get_comment_count for post as post_count %}
           <p><a href="{{ post.get_absolute_url }}">{{ post_count }} Comments</a></p>
         {% endif %}
         {% endif %}
         <!-- end comments -->
       </div>
    {% endfor %}

    <!-- start pagination -->
    {% if posts.has_previous or posts.has_next %}
    <div class="pagination">
        <p>Page {{ posts.number }} of {{ posts.paginator.num_pages }}</p>
        <span class="step-links">
        {% if posts.has_previous %}<a href="?page={{ posts.previous_page_number }}" class="util-link">previous</a>&nbsp;{% endif %}
        {% if posts.has_next %}<a href="?page={{ posts.next_page_number }}" class="util-link">next</a>{% endif %}
        </span>
    <!-- end pagination -->
    </div>
    {% endif %}

{% endblock %}
<!-- end main content -->
