{% extends "blog/base.html" %}

{% block title %}{{ posts.title }} | {{ block.super }}{% endblock %}

{% block meta-desc %}
  <meta name="description" content="{{ posts.body|striptags|truncatewords:'30' }}" />
{% endblock %}

{% block blog_content %}
<p><a href="../">Back to Tech Blog</a></p>
<div id="story-heading">
  {# <img id="story-headshot" src="/images/blog/{{ posts.owner }}.png" alt="{{ posts.owner.get_full_name }}" /> #}
  <h1 id="story-title">{{ posts.title }}</h1>
  <p id="story-author">{% firstof posts.owner.get_full_name posts.owner.username %}{% if posts.owner.groups.all.0 %}&mdash;{{ posts.owner.groups.all.0 }}{% endif %}</p>
  <p id="story-created">{{ posts.created|date:"F d, Y" }}</p>
</div>

<div id="story-body" class="span-18 last">
  {{ posts.body|safe }}
  <p class="small">Updated {{ posts.modified|date:"m/d/y @ h:iA T" }} by {{ posts.owner }}</p>

  <!-- AddThis Button BEGIN -->
  <p><a class="addthis_button" href="http://addthis.com/bookmark.php?v=250&amp;pub=xa-4ae9c8d87de9c70b"><img src="http://s7.addthis.com/static/btn/sm-share-en.gif" width="83" height="16" alt="Bookmark and Share" style="border:0"/></a></p>
  <!-- AddThis Button END -->

  <p class="story_cat">Categories:
   {% for x in posts.category.all %}<a href="{{ x.get_absolute_url }}">{{ x }}</a> {% endfor %}
  </p>

  {% if posts.get_tags %}
  <p>Tags: {% for tag in posts.get_tags %}
     <a href="{% url "blog-tags" tag %}">{{ tag }}</a>
  {% endfor %}
  </p>
  {% endif %}

{% if posts.enable_comments %}
{% load get_setting %}
{% get_setting "DJANGO_COMMENTS" "django_comments" %}
  {% if django_comments %}
    {% load comments %}
    {% get_comment_list for posts as post_comments %}
    {% for comment in post_comments %}
      {% if forloop.first %}
      <div id="comments"><h3>Comments</h3>{% endif %}
      <p>
        {% if comment.url %}<a title="{{ comment.url }}" 
          href="{{ comment.url }}">{{ comment.name }}</a>
        {% else %}{{ comment.name }}{% endif %}
        <span class="small">{{ comment.submit_date|date:"m/d/y @ h:iA T" }}</span><br />
        {{ comment.comment|linebreaksbr }}
      </p>
      {% if forloop.last %}</div>{% endif %}
    {% endfor %}
    <div id="comment-form">
      <h3>Leave a Comment</h3>
      <script type="text/javascript">var RecaptchaOptions = {theme : 'white' };</script>
      {% render_comment_form for posts %}
    </div>
  {% endif %}
{% endif %}
</div>
{% endblock %}
